body {
    margin: 105px 500px;
    text-align: center;
    box-shadow: -10px 10px 25px 15px black;
    background-color: rgb(161, 200, 255); 
    padding-bottom: 2%;  
}
input{
    width: 75px;
    height: 20px;
    font-weight: bolder;
}
#yes{
    width: 50px;
    height: 20px;
    font-weight: bolder;
}
#no{
    width: 50px;
    height: 20px;
    font-weight: bolder;
}
#termsText{
    font-size: 25px;
    font-weight: bolder;
}
#message{
    font-size: 20px;
    font-weight: bolder;
}
.confirmation{
    display: flexbox;
    justify-content: space-around;
}