body{
    margin: 105px 612px;
    text-align: center;
    box-shadow: -10px 10px 25px 15px black;
    background-color: rgb(109, 165, 244); 
}

h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
.gameBoard {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.box {
    border: 1px solid black;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 40px;
}
button{
    width: 450px;
    height: 50px;
    background-color: red ;
    font-weight: bolder;
    font-size: larger;;
}